Options +FollowSymlinks

<Files config.json>
	Order Allow,Deny
	Deny from all
</Files>

<IfModule mod_headers.c>
	Header set Cache-Control "no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires 0
</IfModule>

# If the above lines doesn't work, set the RewriteBase manually
# Most likely if this application does not reside in the document root
DirectoryIndex index.php

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php/?route=$1 [L]
</IfModule>