Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine on

	# Redirect HTTP to HTTPS
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	# Rewrite rules for index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^index\.php(.*)$ /index.php$1 [NC,QSA,L]

	# Block direct access to .php files (except index.php)
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule ^(?!index\.php).*\.php - [F]

	# Rewrite other URLs to index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php/$1 [NC,QSA]
</IfModule>